{% extends "base.html" %}

{% block content %}
<div class='columns is-mobile is-centered'>
  <div class='column is-8'>
    <div>
      <h1 class='title'>Simulações</h1>
      <hr>
    </div>
    <table class='table' style="width: 100%;">
      <thead>
        <tr>
          <th style="text-align: center;">Id</th>
          <th style="text-align: center;">Máquinas</th>
          <th style="text-align: center;">Jobs</th>
          <th style="text-align: center;">Operações</th>
        </tr>
      </thead>
      <tbody>
        {% for simulation in simulations %}
        <tr>
          <td style="text-align: center;">{{simulation.id}}</td>
          <td style="text-align: center;">{{simulation.nMaquinas}}</td>
          <td style="text-align: center;">{{simulation.nJobs}}</td>
          <td style="text-align: center;">{{simulation.nOperacoes}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}