<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JobShop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"/>

    <style>
        .hero.is-primary {
            background-color: #242424;
        }

        .hero.is-primary .navbar-link.is-active,
        .hero.is-primary .navbar-link:hover,
        .hero.is-primary a.navbar-item.is-active,
        .hero.is-primary a.navbar-item:hover {
            background-color: #202020;
        }

        .table th {
            text-align: center;
        }

        .table td {
            text-align: center;
        }

        .menu li:hover {
            color: black;
        }

        .menu .is-active:hover {
            color: white;
        }

        .tab {
            display: inline-block;
            margin-left: 40px;
        }
    </style>
</head>

<body>
<section class="hero is-primary is-fullheight">

    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a href="{{ url_for('main.welcome') }}" class="navbar-item">
                            Inicio
                        </a>

                        <a href="{{ url_for('main.verSimulacoes') }}" class="navbar-item">
                            Ver Simulações
                        </a>
                        <a href="{{ url_for('main.criarSimulacoes') }}" class="navbar-item">
                            Criar Simulações
                        </a>
                        <a href="#" class="navbar-item" id="sair">
                            Sair
                        </a>

                    </div>
                </div>
            </div>
        </nav>
    </div>


    <div class="hero-body">
        <aside class="menu">
            <p class="menu-label">
                Definir Simulação
            </p>
            <ul class="menu-list">
                <li><a class="menu-item" data-value="1">Inserir Operação</a></li>
                <li><a class="menu-item" data-value="2">Editar Operação</a></li>
                <li><a class="menu-item" data-value="3">Ver Operação</a></li>
                <li><a class="menu-item" data-value="4">Verificar Tabela de Operações</a></li>
                <li><a class="menu-item" data-value="5">Ver Tabela de Operações</a></li>
            </ul>
            <p class="menu-label">
                Plano Produção
            </p>
            <ul class="menu-list">
                <li><a class="menu-item" data-value="6">Resolver Automaticamente</a></li>
                <li><a class="menu-item" data-value="7">Inserir tempos</a></li>
                <li><a class="menu-item" data-value="8">Verificar tempos</a></li>
                <li><a class="menu-item" data-value="9">Ver Plano Produção</a></li>
            </ul>
        </aside>
        <div class="container has-text-centered" id="page-content">
            <div class="column is-4 is-offset-4">
                <h1 class="title">Simulação {{simId}}</h1>
            </div>
        </div>
    </div>
</section>
</body>
<script>
    function getCookieValue(name) {
        let cookieArr = document.cookie.split(";");
        for (let i = 0; i < cookieArr.length; i++) {
            let cookiePair = cookieArr[i].split("=");
            if (name === cookiePair[0].trim()) {
                return decodeURIComponent(cookiePair[1]);
            }
        }
        return null;
    }

    function get_cookie(name) {
        return document.cookie.split(';').some(c => {
            return c.trim().startsWith(name + '=');
        });
    }

    function delete_cookie(name) {
        if (get_cookie(name)) {
            document.cookie = name + "=; Path=/api/v1/web;"+
                ";expires=Thu, 01 Jan 1970 00:00:01 GMT";
        }
    }

    const insertOpMachineDuration = `
<div class="column is-4 is-offset-4" >
        <h3 class="title">Inserir Operação</h3>
        <div class="box" id="box">
        <div id="noti">

            </div>
            <form id="insertOp"  style="margin-bottom: 10px">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="number" name="operacao" id="operacao"
                               placeholder="Número da operação" autofocus="">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="number" name="job" id="job"
                               placeholder="Número do job" autofocus="">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="number" name="maquina" id="maquina"
                               placeholder="Número da máquina" autofocus="">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="number" name="duracao" id="duracao"
                               placeholder="Duracao da operação" autofocus="">
                    </div>
                </div>
            </form>
            <button class="button is-block is-info is-large is-fullwidth" id="submitInsertOp">Submeter</button>
        </div>
        </div>

    `

    const editOpMachineDuration = `
<div class="column is-4 is-offset-4" >
        <h3 class="title">Editar Operação</h3>
        <div class="box" id="box">
        <div id="noti">

            </div>
            <form id="editOp"  style="margin-bottom: 10px">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="number" name="operacao" id="operacao"
                               placeholder="Número da operação" autofocus="">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="number" name="job" id="job"
                               placeholder="Número do job" autofocus="">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="number" name="maquina" id="maquina"
                               placeholder="Número da máquina" autofocus="">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="number" name="duracao" id="duracao"
                               placeholder="Duracao da operação" autofocus="">
                    </div>
                </div>
            </form>
            <button class="button is-block is-info is-large is-fullwidth" id="submitEditOp">Submeter</button>
        </div>
        </div>

    `

    const insertTime = `
<div class="column is-4 is-offset-4" >
        <h3 class="title">Inserir Tempo</h3>
        <div class="box" id="box">
        <div id="noti">

            </div>
            <form id="insertTime"  style="margin-bottom: 10px">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="number" name="operacao" id="operacao"
                               placeholder="Número da operação" autofocus="">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="number" name="job" id="job"
                               placeholder="Número do job" autofocus="">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="number" name="tempo" id="tempo"
                               placeholder="Tempo de inicio" autofocus="">
                    </div>
                </div>
            </form>
            <button class="button is-block is-info is-large is-fullwidth" id="submitInsertTime">Submeter</button>
        </div>
        </div>

    `

    const getOperation = `
<div class="column is-4 is-offset-4" >
        <h3 class="title">Operação</h3>
        <div class="box" >
            <div id="noti">

            </div>
            <form id="getOp"  style="margin-bottom: 10px">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="number" name="operacao" id="operacao"
                               placeholder="Número da operação" autofocus="">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="number" name="job" id="job"
                               placeholder="Número do job" autofocus="">
                    </div>
                </div>

            </form>
            <button class="button is-block is-info is-large is-fullwidth" id="submitGetOp">Submeter</button>
        </div>

        <h3 class="title" id="duracao">Maquina: | Duração: </h3>
        </div>

    `


    const allA = document.getElementsByClassName('menu-item')

    function resetA() {
        for (let a of allA) {
            a.classList.remove('is-active')
        }
    }

    const content = document.getElementById('page-content')
    for (let a of allA) {
        a.addEventListener('click', function () {
            resetA()
            a.classList.toggle('is-active')

            const value = a.getAttribute('data-value')

            if (value === '1') {
                content.innerHTML = insertOpMachineDuration
                getInsertOpMachineDurationContent()
            } else if (value === '2') {
                content.innerHTML = editOpMachineDuration
                getEditOpMachineDurationContent()
            } else if (value === '3') {
                content.innerHTML = getOperation
                getOperationInfo()
            } else if (value === '4') {
                content.innerHTML = ''
                checkOperationsTable()

            } else if (value === '5') {
                content.innerHTML = ''
                getOperationsTable()
            } else if (value === '6') {
                content.innerHTML = ''
                autoSolve()
            } else if (value === '7') {
                content.innerHTML = insertTime
                insertTimes()
            } else if (value === '8') {
                content.innerHTML = ''
                checkPlanoProducao()
            } else if (value === '9') {
                content.innerHTML = ''
                getPlanoProducaoTable()
            }
        })
    }
    let token = getCookieValue('token')

    function getToken() {
        token = getCookieValue('token')
    }


    function getInsertOpMachineDurationContent() {
        const form = document.getElementById('insertOp');
        const btn = document.getElementById('submitInsertOp')
        btn.addEventListener('click', function () {

            const operacao = form.querySelector('#operacao');
            const job = form.querySelector('#job');
            const maquina = form.querySelector('#maquina');
            const duracao = form.querySelector('#duracao');

            fetch(`http://localhost:5000/api/v1/simulations/{{simId}}/job/${job.value}/operation/${operacao.value}`, {
                method: "POST",
                headers: {'Content-Type': 'application/json', 'Authorization': `Bearer ${token}`},
                body: JSON.stringify({
                    "machine": maquina.value,
                    "duration": duracao.value
                })
            }).then(res => {

                if (res.status === 401) {
                    window.location.href = 'http://localhost:5000/api/v1/web/login'
                } else if (res.status === 400) {
                    res.json().then(value => {
                        if (value["new_token"]) {
                            delete_cookie('token', null, null)
                            document.cookie = `token=${value['new_token']}; Path=/api/v1/web;`
                            getToken()

                        }
                        const notiBox = document.getElementById('noti')
                        notiBox.innerHTML = `<div class="notification is-danger" id="noti">${value['msg']}</div>`
                    })
                } else {
                    res.json().then(value => {
                        if (value["new_token"]) {
                            delete_cookie('token', null, null)
                            document.cookie = `token=${value['new_token']}; Path=/api/v1/web;`

                        }
                        const notiBox = document.getElementById('noti')
                        notiBox.innerHTML = `<div class="notification is-success" id="noti">${value['msg']}</div>`
                    })
                }
            })

        })
    }

    function getEditOpMachineDurationContent() {
        const form = document.getElementById('editOp');
        const btn = document.getElementById('submitEditOp')
        btn.addEventListener('click', function () {

            const operacao = form.querySelector('#operacao');
            const job = form.querySelector('#job');
            const maquina = form.querySelector('#maquina');
            const duracao = form.querySelector('#duracao');

            fetch(`http://localhost:5000/api/v1/simulations/{{simId}}/job/${job.value}/operation/${operacao.value}`, {
                method: "PUT",
                headers: {'Content-Type': 'application/json', 'Authorization': `Bearer ${token}`},
                body: JSON.stringify({
                    "machine": maquina.value,
                    "duration": duracao.value
                })
            }).then(res => {

                if (res.status === 401) {
                    window.location.href = 'http://localhost:5000/api/v1/web/login'
                } else if (res.status === 400) {
                    res.json().then(value => {
                        if (value["new_token"]) {
                            delete_cookie('token', null, null)
                            document.cookie = `token=${value['new_token']}; Path=/api/v1/web;`
                            getToken()

                        }
                        const notiBox = document.getElementById('noti')
                        notiBox.innerHTML = `<div class="notification is-danger" id="noti">${value['msg']}</div>`
                    })
                } else {
                    res.json().then(value => {
                        if (value["new_token"]) {
                            delete_cookie('token', null, null)
                            document.cookie = `token=${value['new_token']}; Path=/api/v1/web;`

                        }
                        const notiBox = document.getElementById('noti')
                        notiBox.innerHTML = `<div class="notification is-success" id="noti">${value['msg']}</div>`
                    })
                }
            })

        })
    }

    function insertTimes() {
        const form = document.getElementById('insertTime');
        const btn = document.getElementById('submitInsertTime')
        btn.addEventListener('click', function () {

            const operacao = form.querySelector('#operacao');
            const job = form.querySelector('#job');
            const initTime = form.querySelector('#tempo');

            fetch(`http://localhost:5000/api/v1/simulations/{{simId}}/job/${job.value}/operation/${operacao.value}/initTime/${initTime.value}`, {
                method: "POST",
                headers: {'Content-Type': 'application/json', 'Authorization': `Bearer ${token}`},
            }).then(res => {

                if (res.status === 401) {
                    window.location.href = 'http://localhost:5000/api/v1/web/login'
                } else if (res.status === 400) {
                    res.json().then(value => {
                        if (value["new_token"]) {
                            delete_cookie('token', null, null)
                            document.cookie = `token=${value['new_token']}; Path=/api/v1/web;`
                            getToken()

                        }
                        const notiBox = document.getElementById('noti')
                        notiBox.innerHTML = `<div class="notification is-danger" id="noti">${value['msg']}</div>`
                    })
                } else {
                    res.json().then(value => {
                        if (value["new_token"]) {
                            delete_cookie('token', null, null)
                            document.cookie = `token=${value['new_token']}; Path=/api/v1/web;`

                        }
                        const notiBox = document.getElementById('noti')
                        notiBox.innerHTML = `<div class="notification is-success" id="noti">${value['msg']}</div>`
                    })
                }
            })

        })
    }

    function getOperationInfo() {
        const form = document.getElementById('getOp');
        const btn = document.getElementById('submitGetOp')
        btn.addEventListener('click', function () {
            const operacao = form.querySelector('#operacao');
            const job = form.querySelector('#job');


            fetch(`http://localhost:5000/api/v1/simulations/{{simId}}/job/${job.value}/operation/${operacao.value}`, {
                method: "GET",
                headers: {'Content-Type': 'application/json', 'Authorization': `Bearer ${token}`},
            }).then(res => {

                if (res.status === 401) {
                    window.location.href = 'http://localhost:5000/api/v1/web/login'
                } else if (res.status === 400) {
                    res.json().then(value => {
                        if (value["new_token"]) {
                            delete_cookie('token', null, null)
                            document.cookie = `token=${value['new_token']}; Path=/api/v1/web;`
                            getToken()

                        }
                        const notiBox = document.getElementById('noti')
                        notiBox.innerHTML = `<div class="notification is-danger" id="noti">${value['msg']}</div>`

                    })
                } else {
                    res.json().then(value => {
                        if (value["new_token"]) {
                            delete_cookie('token', null, null)
                            document.cookie = `token=${value['new_token']}; Path=/api/v1/web;`

                        }
                        const notiBox = document.getElementById('noti')
                        notiBox.innerHTML = ''
                        const title = document.getElementById('duracao')
                        title.innerHTML = `Maquina: ${value['maquina']} | Duração: ${value['duracao']}`
                    })
                }
            })


        })
    }

    function checkOperationsTable() {
        fetch(`http://localhost:5000/api/v1/simulations/{{simId}}/checkTable`, {
            method: "GET",
            headers: {'Content-Type': 'application/json', 'Authorization': `Bearer ${token}`},
        }).then(res => {

            if (res.status === 401) {
                window.location.href = 'http://localhost:5000/api/v1/web/login'
            } else if (res.status === 400) {
                res.json().then(value => {
                    if (value["new_token"]) {
                        delete_cookie('token', null, null)
                        document.cookie = `token=${value['new_token']}; Path=/api/v1/web;`
                        getToken()

                    }
                    content.innerHTML = `
                        <h3 class="title" style="font-size: 50px;margin-bottom: 0px;">A tabela contém um erro</h3>
                        <p style="font-size: 100px; color:red;margin-bottom: 0px;margin-top: 0px">❌</p>
                        <p>${value['msg']}</p>`

                })
            } else {
                res.json().then(value => {
                    if (value["new_token"]) {
                        delete_cookie('token', null, null)
                        document.cookie = `token=${value['new_token']}; Path=/api/v1/web;`

                    }
                    content.innerHTML = `
                        <h3 class="title" style="margin-bottom: 0px;">A tabela encontra-se correta</h3>
                        <p style="font-size: 100px; color:green;margin-bottom: 0px;margin-top: 0px">✔</p>`
                })
            }
        })
    }

    function autoSolve() {
        fetch(`http://localhost:5000/api/v1/simulations/{{simId}}/planoProducao/solve`, {
            method: "GET",
            headers: {'Content-Type': 'application/json', 'Authorization': `Bearer ${token}`},
        }).then(res => {

            if (res.status === 401) {
                window.location.href = 'http://localhost:5000/api/v1/web/login'
            } else if (res.status === 400) {
                res.json().then(value => {
                    if (value["new_token"]) {
                        delete_cookie('token', null, null)
                        document.cookie = `token=${value['new_token']}; Path=/api/v1/web;`
                        getToken()

                    }
                    content.innerHTML = `
                        <h3 class="title" style="font-size: 50px;margin-bottom: 0px;">ERRO</h3>
                        <p style="font-size: 100px; color:red;margin-bottom: 0px;margin-top: 0px">❌</p>
                        <p>${value['msg']}</p>`

                })
            } else {
                res.json().then(value => {
                    if (value["new_token"]) {
                        delete_cookie('token', null, null)
                        document.cookie = `token=${value['new_token']}; Path=/api/v1/web;`

                    }
                    content.innerHTML = `
                        <h3 class="title" style="margin-bottom: 0px;">Sucesso</h3>
                        <p style="font-size: 100px; color:green;margin-bottom: 0px;margin-top: 0px">✔</p>
                        <p>Tabela resolvida com sucesso</p>`
                })
            }
        })
    }

    function checkPlanoProducao() {
        fetch(`http://localhost:5000/api/v1/simulations/{{simId}}/planoProducao/check`, {
            method: "GET",
            headers: {'Content-Type': 'application/json', 'Authorization': `Bearer ${token}`},
        }).then(res => {

            if (res.status === 401) {
                window.location.href = 'http://localhost:5000/api/v1/web/login'
            } else if (res.status === 400) {
                res.json().then(value => {
                    if (value["new_token"]) {
                        delete_cookie('token', null, null)
                        document.cookie = `token=${value['new_token']}; Path=/api/v1/web;`
                        getToken()

                    }


                    msg = value['msg'].split('\n')

                    text = '<h3 class="title" style="font-size: 50px;margin-bottom: 0px;">O plano de produção contém erros</h3>\n                        <p style="font-size: 100px; color:red;margin-bottom: 0px;margin-top: 0px">❌</p>'
                    if (msg.length > 2) {
                        for (let m of msg) {
                            text += `<p>${m}</p>`
                        }
                    }

                    content.innerHTML = text

                })
            } else {
                res.json().then(value => {
                    if (value["new_token"]) {
                        delete_cookie('token', null, null)
                        document.cookie = `token=${value['new_token']}; Path=/api/v1/web;`

                    }
                    content.innerHTML = `
                        <h3 class="title" style="margin-bottom: 0px;">A tabela encontra-se correta</h3>
                        <p style="font-size: 100px; color:green;margin-bottom: 0px;margin-top: 0px">✔</p>`
                })
            }
        })
    }

    function getOperationsTable() {
        fetch(`http://localhost:5000/api/v1/simulations/{{simId}}/table`, {
            method: "GET",
            headers: {'Content-Type': 'application/json', 'Authorization': `Bearer ${token}`},
        }).then(res => {

            if (res.status === 401) {
                window.location.href = 'http://localhost:5000/api/v1/web/login'
            } else if (res.status === 400) {
                res.text().then(value => {
                    if (value["new_token"]) {
                        delete_cookie('token', null, null)
                        document.cookie = `token=${value['new_token']}; Path=/api/v1/web;`
                        getToken()

                    }
                    content.innerHTML = `
                        <h3 class="title" style="font-size: 50px;margin-bottom: 0px;">A tabela contém um erro</h3>
                        <p style="font-size: 100px; color:red;margin-bottom: 0px;margin-top: 0px">❌</p>
                        <p>${value['msg']}</p>`

                })
            } else {
                res.text().then(value => {
                    if (value["new_token"]) {
                        delete_cookie('token', null, null)
                        document.cookie = `token=${value['new_token']}; Path=/api/v1/web;`

                    }
                    let text = ''
                    let lines = value.split('\n')
                    for (let line of lines) {
                        text += `<p style="font-size: 30px">${line}</p>`
                    }
                    content.innerHTML = text
                })
            }
        })
    }

    function fixCols(lines) {
        finalLines = []
        for (let line of lines) {
            cols = line.split('\t')
            op = cols.shift()
            line = [op]
            for (let col of cols) {
                line.push(col)
            }
            finalLines.push(line.join('&emsp;'))
        }

        return finalLines
    }

    function getPlanoProducaoTable() {
        fetch(`http://localhost:5000/api/v1/simulations/{{simId}}/planoProducao/maxTime`, {
            method: "GET",
            headers: {'Content-Type': 'application/json', 'Authorization': `Bearer ${token}`},
        }).then(res => {

            if (res.status === 401) {
                window.location.href = 'http://localhost:5000/api/v1/web/login'
            } else if (res.status === 400) {
                res.json().then(value => {
                    if (value["new_token"]) {
                        delete_cookie('token', null, null)
                        document.cookie = `token=${value['new_token']}; Path=/api/v1/web;`
                        getToken()
                    }

                })
            } else {
                res.json().then(value => {
                    if (value["new_token"]) {
                        delete_cookie('token', null, null)
                        document.cookie = `token=${value['new_token']}; Path=/api/v1/web;`

                    }


                    content.innerHTML = `<h3 class="title" style="text-align: start">Tempo Máximo é de ${value['time']} no job ${value['job']}</h3>`
                })
            }
        }).then(_ => {
            fetch(`http://localhost:5000/api/v1/simulations/{{simId}}/planoProducao`, {
                method: "GET",
                headers: {'Content-Type': 'application/json', 'Authorization': `Bearer ${token}`},
            }).then(res => {

                if (res.status === 401) {
                    window.location.href = 'http://localhost:5000/api/v1/web/login'
                } else if (res.status === 400) {
                    res.json().then(value => {
                        text = `
                        <h3 class="title" style="font-size: 50px;margin-bottom: 0px;">A tabela contém um erro</h3>
                        <p style="font-size: 100px; color:red;margin-bottom: 0px;margin-top: 0px">❌</p>
                        `

                        msg = value['msg'].split('\n')
                        for (let m of msg) {
                            text += `<p>${m}</p>`


                        content.innerHTML=text
                    }

                    })
                } else {
                    res.text().then(value => {
                        let text = ''
                        let lines = value.split('\n')


                        lines = fixCols(lines)

                        for (let line of lines) {
                            text += `<p style="font-size: 30px; text-align: start">${line}</p>`
                        }

                        text += ''
                        conteudo = content.innerHTML;
                        content.innerHTML = conteudo + text
                    })
                }
            })

        })


    }
</script>
<script>
    const sairBtn = document.getElementById('sair')

    sairBtn.addEventListener('click', function (){
        fetch('http://localhost:5000/api/v1/auth/logout',{
            method: "POST",
            headers: {'Content-Type': 'application/json', 'Authorization': `Bearer ${token}`},
        }).then(res => {
            if (res.status === 200) {
                window.location.href = 'http://localhost:5000/api/v1/web/login'
            }
        })
    })

</script>

</html>